<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Registrar</p>
  
    <!-- Email -->
    <input type="text" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Usuario">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      
    
    </div>
  
    <!-- Sign in button -->
    <button  type="button" color="info" block="true" class="btn btn-primary">Ingresar</button>
  
    <!-- Register -->
    <p> No esta registrado: 
      <a href="">Registrar</a>
    </p>
  
  

  
  </form>